.text-heading{
    padding-top: 60px;   
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #000000;
    }
    
    .text-paragraph {
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    padding-bottom: 60px;
    }
    
    .card {
        border-radius: 40px; 
        overflow: hidden;
        border: 0;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06),
                    0 2px 4px rgba(0, 0, 0, 0.07);
        transition: all 0.15s ease;
    }
    
    .card:hover {
              box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
                          0 10px 8px rgba(0, 0, 0, 0.015);
    }
    
    .card-body .card-title {
                   font-family: 'Lato', sans-serif;
                   font-weight: 700;
                   letter-spacing: 0.3px;
                   font-size: 24px;
                   color: #121212;
    }
    
    .card-text {
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 15px;
              letter-spacing: 0.3px;
              color: #4E4E4E;
    
    }
    
    .card .container {
            width: 88%;
            border-radius: 30px;
            height: 140px;
          display: flex;
         align-items: center;
          justify-content: center;
    }
    
    #timKami .container:hover > img {
                        transform: scale(1.2);
    }
    
    #timKami .container img {
              
                 padding: 50px;  
                margin-top: -40px;
                margin-bottom: -40px;
               transition: 0.4s ease;
               cursor: pointer;
    }